@charset "UTF-8";

/* ==========================================================================
   reset
  * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com
   ========================================================================== */
html, body, header, footer, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; box-sizing:border-box; word-break:keep-all;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1; font-family:'Nanum Gothic','맑은고딕',Malgun Gothic,dotum,'돋음',arial,sans-serif; font-size:14px; color:#666; min-width:320px;}
ol, ul {list-style:none;}
ul:after {clear:both; display:block; content:"";}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0; width:100%;}
/* html, body {height:100%;} */
button  {margin:0;padding:0;border-radius:2px; border:none; box-sizing:border-box; vertical-align:middle; font-size:13px; font-family:'Nanum Gothic','맑은고딕',Malgun Gothic,dotum,'돋음',arial,sans-serif; cursor:pointer; background:transparent; border-radius:0; outline:none;}
/* button:hover {background:#66532b;}
button:hover:not(:disabled) {background:#66532b;}
button:disabled {background:#bfbbb2;color:#fff;} */
button > span {position:relative;}

a,
a:link
a:visited,
a:hover,
a:active,
a:focus {color:#666; text-decoration:none;}

.hidden,
caption,
legend {overflow:hidden; width:1px; height:1px; margin:-1px 0 0 -1px; font-size:0; line-height:0; text-indent:-9999px;}
.blind {clear:both; position:absolute; top:auto; left:0; overflow:hidden; width:1px; height:1px; padding:0; margin:0; font-size:0; line-height:0}
.blind:after {display:none;}

img {vertical-align:top; width:100%;}
em {font-style:normal;}

/* ==========================================================================
	 layout
   ========================================================================== */
.wrap {position: relative; background: #122239;}
.header {border-bottom: 1px solid #3e3e41; font-size: 0; box-sizing: border-box; background: rgba(12,15,22,0.6);}

.header_wrap,
.content,
.breadcrumb_wrap {position: relative; width: 1100px; margin: 0 auto;}
.breadcrumb_wrap {position: relative; width: 1110px; margin: 0 auto;}
.header_wrap::after {content:""; display: block; clear: both;}

.container {position: relative; width: 1110px; margin: 0 auto;}
.content {padding-bottom: 100px;}

.alignL {text-align: left;}
.alignC {text-align: center;}
.alignR {text-align: right;}
.floatL {float: left;}
.floatR {float: right;}

ul.col2 li {float: left; width: calc(100% / 2);}
ul.col3 li {float: left; width: calc(100% / 3);}
ul.col4 li {float: left; width: calc(100% / 4);}

/* ==========================================================================
   로고
  ========================================================================== */
.header_wrap .logo {position: absolute; top: 23px; left: 50%; transform: translateX(-50%); width: 140px; height: 47px;}
.header_wrap .logo a {display: block;}

/* ==========================================================================
   유틸메뉴
  ========================================================================== */
.util_menu {width: 50%; padding-top: 9px; line-height: 18px;}
.util_menu button {font-size: 14px; color: #888; border-bottom: 1px solid #0e1724;}
.util_menu::after {content:""; display: block; clear: both;}
.util_menu a {line-height: 18px; margin-left: 20px; font-size: 14px; vertical-align: middle; color: #888;}
.util_menu.util_menu_left a:first-child {margin-left: 0;}
.util_menu a:hover, .util_menu button:hover {border-bottom: 1px solid #888;}

/* ==========================================================================
   메인메뉴
  ========================================================================== */
  /* .menu_wrap {display: inline-block; width: 824px; margin: 0 52px 0 64px;}
  .menu_wrap::after {content:""; display: block; clear: both;}
  .menu_wrap .menu_list {display: inline-block;}
  .menu_wrap .menu_list li {position:relative;display: inline-block; padding: 10px 20px; margin-right: 20px; font-size: 18px; font-weight: 400; letter-spacing: -2px; line-height: 36px; vertical-align: middle; text-align: left; cursor: pointer;}
  .menu_wrap .menu_list li a {padding-bottom: 14px; border-bottom: 2px solid rgba(12,15,22,0.6); color: #fff;}
  .menu_wrap .menu_list li:hover a {border-bottom: 2px solid #fff; box-sizing: border-box;}
  
  .menu_wrap .menu_list::after {content:""; display: block; clear: both;}
  .menu_wrap .menu_list.menu_list_right {float: right;}
  .menu_wrap .menu_list.menu_list_right li {display: inline-block; text-align: right;}
  .menu_wrap .menu_list.menu_list_left li:last-child,
  .menu_wrap .menu_list.menu_list_right li:last-child {margin-right: 0;}
  .menu_wrap .sub_menu_list {position: absolute;} */


.menu_wrap {width: 824px; margin: 0 auto;}

.menu_wrap .menu_list {display: inline-block;}
.menu_wrap .menu_list li {position: relative; display: inline-block; padding: 10px 20px; margin-right: 20px; font-size: 18px; font-weight: 400; letter-spacing: -2px; line-height: 36px; vertical-align: middle; text-align: left; cursor: pointer;}
.menu_wrap .menu_list li a {padding-bottom: 14px; border-bottom: 2px solid rgba(12,15,22,0.6); color: #fff;}
.menu_wrap .menu_list li:hover a {border-bottom: 2px solid #fff; box-sizing: border-box;}

.menu_wrap .menu_list:after {content:""; display: block; clear: both;}
.menu_wrap .menu_list li:last-child {margin-right: 0;}
.menu_wrap .menu_list li:nth-child(4) {margin-left: 260px;}
.menu_wrap .sub_menu_list {position: absolute; display: none;}

.category {position: absolute; left: 0; top: 47px; width: 24px; height: 18px; margin: 0 8px; line-height: 36px; vertical-align: middle; background: url(../images/icon/ico-sitemap-white.png) 0 0 no-repeat; cursor: pointer;}
.search {position: absolute; left: 40px; top: 47px; width: 18px; height: 18px; margin: 0 8px; line-height: 36px; vertical-align: middle; background: url(../images/icon/ico-search-white.png) 0 0 no-repeat; cursor: pointer;}

/* ==========================================================================
   유틸메뉴
  ========================================================================== */
.util_menu_icon {position: absolute; right: 0; top: 38px;}
.util_menu_icon .icon {display: inline-block; width: 36px; height: 36px; margin: 0 8px; line-height: 36px; vertical-align: middle; background: url(../images/icon/ico-schedule-white.png) 0 0 no-repeat;}
.util_menu_icon .icon.my_mega {display: inline-block; width: 18px; height: 21px; margin: 0 8px; line-height: 36px; vertical-align: middle; background: url(../images/icon/ico-mymega-white.png) 0 0 no-repeat;}

/* ==========================================================================
   content
  ========================================================================== */
.content_movies {margin: 0 auto; padding-top: 78px; text-align: center; color: #fff; /*background: #222;*/}
.content_movies .box_office {font-size: 18px; color: #fff; letter-spacing: -2px;}
.content_movies .box_office::after {content: ""; display: block; width: 68px; height: 2px; margin: 6px auto 0; border-bottom: 1px solid rgba(255,255,255,0.5); box-sizing: border-box;}
.more_movies {display: block; color: #aaa;}
.more_movies:after {content: ''; display: inline-block; width: 16px; height: 16px; margin-left: 8px; vertical-align: top; background: url(../images/icon/ico-more-cross-gray.png) 0 0 no-repeat;}
.content_movies .movies_list {padding: 20px 0 50px;}
.content_movies .movies_list:after{content: ""; display: block; clear: both;}
.content_movies .movies_list li {float: left; position: relative; width: 245px; margin-left: 40px;}
.content_movies .movies_list li:first-child {margin-left: 0;}
.content_movies .movies_list li > a {display: block; height: 352px; border-radius: 8px; box-sizing: border-box; overflow: hidden;}

.movies_list .movie_num {position: absolute; top: 0; left: 0; padding: 12px 0 0 18px; width: 100%; height: 150px; border-radius: 8px; overflow: ;; color: #fff; font-size: 30px; text-align: left; font-style: italic; text-shadow: 2px 2px 4px #000; background: url(../images/bg-main-movie-rank.png) 0 0 no-repeat;}
.movies_list .movie_info_wrap {position: absolute; top: 0; left: 0; padding: 30px 20px; width: 100%; height: 352px; border-radius: 8px; color: #fff; font-size: 14px; font-weight: bold; line-height: 22px; text-align: left; letter-spacing: -1px; background: rgba(0,0,0,0.75);}
.movies_list .movie_info_wrap {opacity: 0;}
.movies_list .movie_info_wrap .movie_summary {height: 88%; word-break: break-all;}
.movies_list .movie_info_wrap .movie_review {padding-top: 16px; border-top: 1px solid #3c3c3c; text-align: center;}
.movies_list .movie_info_wrap .movie_review .movie_score {margin-left: 20px; font-size: 22px; color: #59bec9;}
.movies_list li > a:hover .movie_info_wrap {opacity: 1; transition: 0.3s;}

.movies_btn {padding-top: 10px;}
.movies_btn .like {display: inline-block; width: 80px; height: 36px; border: 1px solid #535353; border-radius: 5px; background: #141314; color: #fff; font-size: 14px;}
.movies_btn .like:before {content: ''; display: inline-block; width: 17px; height: 15px; line-height: 36px; margin: 1px 6px 0 0; vertical-align: top; background: url(../images/icon/ico-heart-toggle-main.png) no-repeat; background-position: 0 0;}
.movies_btn .like:active:before {background-position: -17px 0;}
.movies_btn .reservation {display: inline-block; width: 160px; height: 36px; line-height: 36px; border-radius: 5px; vertical-align: top; background: #037b94; color: #fff; font-size: 14px;}

.movies_util_list {color: #aaaaaa; background: rgba(0,0,0,0.2); font-size: 14px;}
.movies_util_list:after {content: ''; display: block; clear: both;}
.movies_util_list li {float: left; position: relative; width: calc(100% / 4); height: 75px; padding: 0 87px; vertical-align: middle; line-height: 75px;}
.movies_util_list li:first-child {padding: 0 37px;}
.movies_util_list li:before {content: ''; display: inline-block; position: absolute; left: 0; top: 23px; width: 1px; height: 30px; vertical-align: middle; line-height: 75px; background: #423e3e;}
.movies_util_list li:first-child:before {content: ''; display: none;}

.movies_util_list li .movies_search {position: relative; padding-left: 10px; width: 200px; border: none; border-bottom: 1px solid #423e3e; background: none; outline-style: unset; color: #aaa; line-height: 25px;}
.movies_util_list li .movies_search_icon {content: ''; display: block; position: absolute; top: 28px; right: 43px; width: 18px; height: 18px; background: url(../images/icon/ico-search-white.png) 0 0 no-repeat;}
.movies_util_list li a {position: relative; color: #fff;}
.movies_util_list li:nth-child(n+2) a:hover {border-bottom: 1px solid #fff;}

.movies_util_list li a:before {content: ''; display: block; position: absolute; top: -4px; left: 0; width: 24px; height: 26px; background: url(../images/icon/ico-schedule-main.png) 0 0 no-repeat;}
.movies_util_list li:nth-child(3) a:before {top: -4px; left: 0; width: 26px; height: 24px; background: url(../images/icon/ico-boxoffice-main.png) 0 0 no-repeat;}
.movies_util_list li:last-child a:before {top: -4px; left: 0; width: 29px; height: 25px; background: url(../images/icon/ico-quick-reserve-main.png) 0 0 no-repeat;}
.movies_util_list li:first-child a:before {content: ''; display: none;}
.movies_util_list li span {padding-left: 36px;}
/* .bg_wrap {position: absolute; width: 1110px; height: auto; margin: -89px auto 0; overflow: hidden;}
.bg_pattern {position: absolute; width: 100%; height: 100%; background: url(../images/bg-movie-detail-pattern.png) 0 0 repeat; z-index: 5;}
.bg {display: block; width: 100%; height: 100%; z-index: 3; filter: blur(20px);} */