@charset "UTF-8";

/* ==========================================================================
   reset
  * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com
   ========================================================================== */
html, body, header, footer, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; box-sizing:border-box; word-break:keep-all;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1; font-family:'Nanum Gothic','맑은고딕',Malgun Gothic,dotum,'돋음',arial,sans-serif; font-size:14px; color:#666; min-width:320px;}
ol, ul {list-style:none;}
ul:after {clear:both; display:block; content:"";}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0; width:100%;}
/* html, body {height:100%;} */
button  {margin:0;padding:0;border-radius:2px; border:none; box-sizing:border-box; vertical-align:middle; font-size:13px; font-family:'Nanum Gothic','맑은고딕',Malgun Gothic,dotum,'돋음',arial,sans-serif; cursor:pointer; background:transparent; border-radius:0; outline:none;}
/* button:hover {background:#66532b;}
button:hover:not(:disabled) {background:#66532b;}
button:disabled {background:#bfbbb2;color:#fff;} */
button > span {position:relative;}

a,
a:link
a:visited,
a:hover,
a:active,
a:focus {/*color:#666;*/ text-decoration:none;}

.hidden,
caption,
legend {overflow:hidden; width:1px; height:1px; margin:-1px 0 0 -1px; font-size:0; line-height:0; text-indent:-9999px;}
.blind {clear:both; position:absolute; top:auto; left:0; overflow:hidden; width:1px; height:1px; padding:0; margin:0; font-size:0; line-height:0}
.blind:after {display:none;}

img {vertical-align:top; width:100%;}
em {font-style:normal;}

/* ==========================================================================
	 layout
   ========================================================================== */
.wrap {position: relative;}

.breadcrumb_wrap {position: relative; width: 1100px; margin: 0 auto;}
.header_wrap::after {content:""; display: block; clear: both;}

.content {position: relative; padding-bottom: 100px;}
.section {position: relative;}
.inner {position: relative; width: 1100px; margin: 0 auto; padding: 50px 0 70px;}

h2 {font-size: 30px; line-height: 33px; font-weight: normal;}

.alignL {text-align: left;}
.alignC {text-align: center;}
.alignR {text-align: right;}
.floatL {float: left;}
.floatR {float: right;}
.fontW_b {font-weight: bold;}

ul.col2 li {float: left; width: calc(100% / 2);}
ul.col3 li {float: left; width: calc(100% / 3);}
ul.col4 li {float: left; width: calc(100% / 4);}

/* ==========================================================================
   헤더
  ========================================================================== */
.header {background: #121c29;}
.header_wrap {position: relative; background: rgba(12,15,22,0.4);}
.header_wrap:after {content: ''; display: block; position: absolute; bottom: 0; width: 100%; border-bottom: 1px solid #3e3e41; box-sizing: border-box; overflow: hidden;}
.header_wrap .inner {padding: 0;}
/* ==========================================================================
   로고
  ========================================================================== */
.header_wrap .logo {position: absolute; top: 23px; left: 50%; transform: translateX(-50%); width: 140px; height: 47px;}
.header_wrap .logo a {display: block;}

/* ==========================================================================
   유틸메뉴
  ========================================================================== */
.util_menu {width: 50%; padding-top: 15px; line-height: 18px; font-size: 0;}
.util_menu button {font-size: 14px; color: #888; border-bottom: 1px solid #0e1724;}
.util_menu a {line-height: 18px; margin-left: 20px; font-size: 14px; vertical-align: middle; color: #888;}
.util_menu.util_menu_left a:first-child {margin-left: 0;}
.util_menu a:hover, .util_menu button:hover {border-bottom: 1px solid #888;}
.util_menu::after {content:""; display: block; clear: both;}

/* ==========================================================================
   메인메뉴
  ========================================================================== */
  /* .menu_wrap {display: inline-block; width: 824px; margin: 0 52px 0 64px;}
  .menu_wrap::after {content:""; display: block; clear: both;}
  .menu_wrap .menu_list {display: inline-block;}
  .menu_wrap .menu_list li {position:relative;display: inline-block; padding: 10px 20px; margin-right: 20px; font-size: 18px; font-weight: 400; letter-spacing: -2px; line-height: 36px; vertical-align: middle; text-align: left; cursor: pointer;}
  .menu_wrap .menu_list li a {padding-bottom: 14px; border-bottom: 2px solid rgba(12,15,22,0.6); color: #fff;}
  .menu_wrap .menu_list li:hover a {border-bottom: 2px solid #fff; box-sizing: border-box;}
  
  .menu_wrap .menu_list::after {content:""; display: block; clear: both;}
  .menu_wrap .menu_list.menu_list_right {float: right;}
  .menu_wrap .menu_list.menu_list_right li {display: inline-block; text-align: right;}
  .menu_wrap .menu_list.menu_list_left li:last-child,
  .menu_wrap .menu_list.menu_list_right li:last-child {margin-right: 0;}
  .menu_wrap .sub_menu_list {position: absolute;} */


.menu_wrap {display: inline-block; position: relative; width: 100%; margin: 0 auto; font-size: 0;}
.menu_wrap .menu_list {display: block; width: 824px; margin: 0 auto;}
.menu_wrap .menu_list>li {position: relative; display: inline-block; padding: 10px 20px; margin-left: 20px; font-size: 18px; font-weight: 400; letter-spacing: -2px; line-height: 36px; vertical-align: middle; cursor: pointer;}
.menu_wrap .menu_list>li a {padding-bottom: 13px; border-bottom: 2px solid rgba(12,15,22,0.6); color: #fff; letter-spacing: 0px;}
.menu_wrap .menu_list>li:hover a {border-bottom: 2px solid #fff; box-sizing: border-box; z-index: 9;}
.menu_wrap .menu_list>li:nth-child(5):hover a {border-bottom: 0;}
.menu_wrap .menu_list:after {content:""; display: block; clear: both;}
.menu_wrap .menu_list>li:nth-child(4) {margin-left: 232px;}
.menu_wrap .menu_list>li:hover .sub_menu_list {display: block;}

.menu_wrap .sub_menu_list {display: none; position: absolute; top: 60px; left: 50%; width: 500px; font-size: 16px; color: #fff;transform: translateX(-50%); z-index: 9;}
/* .menu_wrap .sub_menu_list li {float: left; padding-right: 20px;} */
.menu_wrap .sub_menu_list li {display:inline-block; padding-right: 20px;}
.menu_wrap .sub_menu_list li:last-child {padding-right: 0;}
.menu_wrap .sub_menu_list:after {content:""; display: block; clear: both;}
.category {position: absolute; left: 0; top: 47px; cursor: pointer;}
.category_icon {width: 24px; height: 18px; line-height: 36px; vertical-align: middle; background: url(../images/icon/ico-sitemap-white.png) 0 0 no-repeat;}
.search {position: absolute; left: 40px; top: 47px; cursor: pointer;}
.search_icon {width: 18px; height: 18px; line-height: 36px; vertical-align: middle; background: url(../images/icon/ico-search-white.png) 0 0 no-repeat;}
/* ==========================================================================
   유틸메뉴
  ========================================================================== */
.util_menu_icon.screening_schedule {position: absolute; top: 38px; right: 30px; width: 36px; height: 36px; line-height: 36px; vertical-align: middle; background: url(../images/icon/ico-schedule-white.png) 0 0 no-repeat;}
.util_menu_icon.my_mega {position: absolute; top: 44px; right: 0; width: 18px; height: 21px; line-height: 36px; vertical-align: middle; background: url(../images/icon/ico-mymega-white.png) 0 0 no-repeat;}

/* ==========================================================================
   content
  ========================================================================== */
.content_title:after {content: ''; display: block; clear: both;}
.content_movies {margin: 0 auto; text-align: center; color: #fff; background: #121c29;}
.content_movies .inner {padding-bottom: 90px;}
.content_movies h2 {color: #fff;}

/* 박스오피스 */

/* 더 많은 컨텐츠 보기 */
.content > .section .more_view {position: absolute; top: 50px; right: 0; margin-top: 17px; color: #aaa;}
.content > .section .more_view:after{content: ""; display: block; clear: both;}
.content > .section .more_view.more_view_movies span:hover {border-bottom: 1px solid #aaa;}
.content > .section .more_view.more_view_movies:after {content: ''; display: inline-block; width: 16px; height: 16px; margin-left: 8px; vertical-align: top; background: url(../images/icon/ico-more-cross-gray.png) 0 0 no-repeat;}
.content > .section .more_view.more_view_benefit {margin-top: 9px;}
.content > .section .more_view.more_view_benefit:after {content: ''; display: inline-block; width: 16px; height: 16px; margin-left: 8px; background: url(../images/icon/btn-more-cross-purple.png) 0 0 no-repeat;}

/* 박스오피스 리스트 */
.content_movies .movies_list {padding: 20px 0 50px;}
.content_movies .movies_list:after{content: ""; display: block; clear: both;}
.content_movies .movies_list li {float: left; position: relative; width: 245px; margin-left: 40px;}
.content_movies .movies_list li:first-child {margin-left: 0;}
.content_movies .movies_list li > a {display: block; height: 352px; border-radius: 8px; box-sizing: border-box; overflow: hidden;}

/* 영화정보 */
.content_movies .movies_list .movie_num {position: absolute; top: 0; left: 0; padding: 12px 0 0 18px; width: 100%; height: 150px; border-radius: 8px; overflow: hidden; color: #fff; font-size: 30px; text-align: left; font-style: italic; text-shadow: 2px 2px 4px #000; background: url(../images/bg-main-movie-rank.png) 0 0 no-repeat;}
.content_movies .movies_list .movie_info_wrap {position: absolute; top: 0; left: 0; padding: 30px 20px; width: 100%; height: 352px; border-radius: 8px; color: #fff; font-size: 14px; font-weight: bold; line-height: 22px; text-align: left; letter-spacing: -1px; background: rgba(0,0,0,0.75);}
.content_movies .movies_list .movie_info_wrap {opacity: 0;}
.content_movies .movies_list .movie_info_wrap .movie_summary {height: 88%; word-break: break-all;}
.content_movies .movies_list .movie_info_wrap .movie_review {padding-top: 16px; border-top: 1px solid #3c3c3c; text-align: center;}
.content_movies .movies_list .movie_info_wrap .movie_review .movie_score {margin-left: 20px; font-size: 22px; color: #59bec9;}
.content_movies .movies_list li > a:hover .movie_info_wrap {opacity: 1; transition: 0.3s;}

/* 영화 좋아요/예매버튼 */
.content_movies .movies_btn {padding-top: 10px;}
.content_movies .movies_btn .like {display: inline-block; width: 80px; height: 36px; border: 1px solid #535353; border-radius: 5px; background: #141314; color: #fff; font-size: 14px;}
.content_movies .movies_btn .like:before {content: ''; display: inline-block; width: 17px; height: 15px; line-height: 36px; margin: 1px 6px 0 0; vertical-align: top; background: url(../images/icon/ico-heart-toggle-main.png) no-repeat; background-position: 0 0;}
.content_movies .movies_btn .like:active:before {background-position: -17px 0;}
.content_movies .movies_btn .reservation {display: inline-block; width: 160px; height: 36px; line-height: 36px; border-radius: 5px; vertical-align: top; background: #037b94; color: #fff; font-size: 14px;}

/* 영화유틸메뉴 */
.content_movies .movies_util_list {color: #aaaaaa; background: rgba(0,0,0,0.2); font-size: 14px;}
.content_movies .movies_util_list:after {content: ''; display: block; clear: both;}
.content_movies .movies_util_list li {float: left; position: relative; width: calc(100% / 4); height: 75px; padding: 0 87px; vertical-align: middle; line-height: 75px;}
.content_movies .movies_util_list li:first-child {padding: 0 37px;}
.content_movies .movies_util_list li:before {content: ''; display: inline-block; position: absolute; left: 0; top: 23px; width: 1px; height: 30px; vertical-align: middle; line-height: 75px; background: #423e3e;}
.content_movies .movies_util_list li:first-child:before {content: ''; display: none;}
.content_movies .movies_util_list li .movies_search_wrap input::-ms-clear {display: none;}
.content_movies .movies_util_list li .movies_search {position: relative; width: 200px; height: 26px; padding-left: 10px; border: none; border-bottom: 1px solid #423e3e; background: none; outline-style: unset; color: #aaa; line-height: 26px;}
.content_movies .movies_util_list li .movies_search_icon {content: ''; display: block; position: absolute; top: 28px; right: 43px; width: 18px; height: 18px; background: url(../images/icon/ico-search-white.png) 0 0 no-repeat;}
.content_movies .movies_util_list li a {position: relative; color: #fff;}
.content_movies .movies_util_list li:nth-child(n+2) a:hover span {border-bottom: 1px solid #fff;}
.content_movies .movies_util_list li a:before {content: ''; display: block; position: absolute; top: -4px; left: 0; width: 24px; height: 26px; background: url(../images/icon/ico-schedule-main.png) 0 0 no-repeat;}
.content_movies .movies_util_list li:nth-child(3) a:before {top: -4px; left: 0; width: 26px; height: 24px; background: url(../images/icon/ico-boxoffice-main.png) 0 0 no-repeat;}
.content_movies .movies_util_list li:last-child a:before {top: -4px; left: 0; width: 29px; height: 25px; background: url(../images/icon/ico-quick-reserve-main.png) 0 0 no-repeat;}
.content_movies .movies_util_list li:first-child a:before {content: ''; display: none;}
.content_movies .movies_util_list li span {margin-left: 36px;}
/* .bg_wrap {position: absolute; width: 1110px; height: auto; margin: -89px auto 0; overflow: hidden;}
.bg_pattern {position: absolute; width: 100%; height: 100%; background: url(../images/bg-movie-detail-pattern.png) 0 0 repeat; z-index: 5;}
.bg {display: block; width: 100%; height: 100%; z-index: 3; filter: blur(20px);} */

/* 스크롤 다운 */
.content_movies .scroll_down {position: relative; top: -80px; width: 16px; height: 24px; border: 2px solid #c0c1c7; border-radius: 10px; margin: 33px auto 0; animation: scroll_down 0.8s ease-in Infinite Alternate;}
.content_movies .scroll_down:after {content: ''; position: absolute; left: 50%; transform: translateX(-50%); top: 6px; display: inline-block; width: 2px; height: 5px; background: #c0c1c7;}
@keyframes scroll_down {0% {top: -80px;} 100% {top: -70px;}}

/* 혜택 */
.content_benefit h2 {color: #351f66;}
.content_benefit:after {content: ''; display: block; width: 100%; height: 640px; margin-top: -750px; background: #503396;}
 /* 이벤트 영역 */
 /* 이벤트 슬라이드 영역 */
.content_benefit .event_wrap .event_slide {float: left; overflow: hidden; width: 685px;}
.content_benefit .event_wrap:after {content: ''; display: block; clear: both;}
.content_benefit .event_wrap .event_slide_list {display: block; position: relative;  margin: 0; top: 0; left: 0; text-align: left; font-size: 0; width: 10000px; overflow: hidden;}
.content_benefit .event_wrap .event_slide_list li {float: left; width: 686px;}
.content_benefit .event_wrap .event_slide_list li .list_text {float: left; width: 300px; padding-top: 30px;}
.content_benefit .event_wrap .event_slide_list li .list_text p {font-size: 14px; line-height: 22px; color: #666;}
.content_benefit .event_wrap .event_slide_list li .list_text .list_tit {font-size: 20px; line-height: 24px; color: #222;}
.content_benefit .event_wrap .event_slide_list li .list_text strong {display: block; padding: 5px 0 20px; font-size: 40px; line-height: 44px; letter-spacing: -4px;}
.content_benefit .event_wrap .event_slide_list li:first-child .list_text strong {color: #3e3d79;}
.content_benefit .event_wrap .event_slide_list li:nth-child(2) .list_text strong {color: #444341;}
.content_benefit .event_wrap .event_slide_list li:nth-child(3) .list_text strong {color: #254b3c;}
.content_benefit .event_wrap .event_slide_list li:nth-child(4) .list_text strong {color: #b50102;}
.content_benefit .event_wrap .event_slide_list li .list_img {float: left; width: 385px; height: 325px;}

.content_benefit .event_wrap .slide_bar {display: block; position: absolute; top: 300px; width: 190px; height: 2px; background-color: #ebebeb;}
.content_benefit .event_wrap .slide_bar .on {width: 35px; background: #503396;}

 /* 이벤트 배너 영역 */
.content_benefit .event_wrap .event_banner {float: left; width: 444px; height: 204px; border-radius: 6px; -webkit-box-shadow: 10px 10px 13px 1px rgba(0,0,0,.3); -moz-box-shadow: 10px 10px 13px 1px rgba(0,0,0,.3); box-shadow: 10px 10px 13px 1px rgba(0,0,0,.3); overflow: hidden;}
.content_benefit .event_wrap .event_banner.event_banner02 {width: 204px; margin-left: 20px;}
.content_benefit .event_wrap .event_bannerad {width: 415px; height: 530px; border-radius: 6px; overflow: hidden; background: url(../images/benefit/benefit_insurance01.jpg) 0 0 no-repeat;}
.content_benefit .event_wrap .event_banner a {display: block;}

 /* 혜택영역 */
.content_benefit .benefit_wrap {display: block; padding: 50px 0 0; font-size: 14px;}
.content_benefit .benefit_wrap:after {content: ''; display: block; clear: both;}
.content_benefit .benefit_wrap a {display: block; color: #fff; text-align: center;}
.content_benefit .benefit_wrap P {color: #fff;}
.content_benefit .benefit_wrap .user_menu, .content_benefit .benefit_wrap .grand_open {padding: 50px 0;}
.content_benefit .benefit_wrap .user_menu_list li {float: left; width: calc(100% / 5); text-align: center;}
.content_benefit .benefit_wrap .user_menu_list li:first-child a {margin-left: 0;}
.content_benefit .benefit_wrap .user_menu_list li a {margin-left: 30px;}
.content_benefit .benefit_wrap .user_menu_list li a:before {content: ''; display: block; width: 49px; height: 46px; margin: 0 auto 20px;}
.content_benefit .benefit_wrap .user_menu_list li.user_viplounge a:before {background: url(../images/icon/ico-vip-main.png) 0 0 no-repeat;}
.content_benefit .benefit_wrap .user_menu_list li.user_membership a:before {width: 36px; background: url(../images/icon/ico-membership-main.png) 0 0 no-repeat;}
.content_benefit .benefit_wrap .user_menu_list li.user_discount_card a:before {background: url(../images/icon/ico-card-main.png) 0 0 no-repeat;}
.content_benefit .benefit_wrap .user_menu_list li.user_event a:before {width: 44px; background: url(../images/icon/ico-event-main.png) 0 0 no-repeat;}
.content_benefit .benefit_wrap .user_menu_list li.user_store a:before {width: 46px; background: url(../images/icon/ico-store-main.png) 0 0 no-repeat;}

.content_benefit .benefit_wrap .grand_open {border-top: 1px solid #5c419d;}
.content_benefit .benefit_wrap .grand_open .grand_open_tit strong {display: inline-block; margin-top: 15px; font-size: 28px;}
.content_benefit .benefit_wrap .grand_open .grand_open_list {display: block; padding: 0 0 0 350px;}
.content_benefit .benefit_wrap .grand_open .grand_open_list li {width: 204px; height: 204px; border-radius: 50%; background: rgba(0,0,0,.5) url(../images/benefit/bg-theater-new.jpg) 0 0 no-repeat; text-align: center;}
.content_benefit .benefit_wrap .grand_open .grand_open_list li:hover {background: #fff;}
.content_benefit .benefit_wrap .grand_open .grand_open_list li:hover p {color: #01738b;}
.content_benefit .benefit_wrap .grand_open .grand_open_list li a {padding: 44px 0; vertical-align: middle;}
.content_benefit .benefit_wrap .grand_open .grand_open_list li a .new_open {display: inline-block; width: 76px; height: 25px; padding-top: 0; line-height: 25px; vertical-align: middle; color: #fff; background: #01738b;}
.content_benefit .benefit_wrap .grand_open .grand_open_list li a p {padding-top: 14px;}
.content_benefit .benefit_wrap .grand_open .grand_open_list strong {font-size: 22px;}

.content_curation {background: #252451;}
.content_curation h2 {color: #fff;}


