
/* ==========================================================================
	02. reset
  * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com
   ========================================================================== */
html, body, header, footer, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; box-sizing:border-box; word-break:keep-all;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1; font-family:'Nanum Gothic','맑은고딕',Malgun Gothic,dotum,'돋음',arial,sans-serif; font-size:14px; color:#666; min-width:320px;}
ol, ul {list-style:none;}
ul:after {clear:both; display:block; content:"";}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0; width:100%;}
/* html, body {height:100%;} */
button  {margin:0;padding:0;border-radius:2px; border:none; box-sizing:border-box; vertical-align:middle; font-size:13px; font-family:'Nanum Gothic','맑은고딕',Malgun Gothic,dotum,'돋음',arial,sans-serif; cursor:pointer; background:transparent; border-radius:0;outline:none;}
/* button:hover {background:#66532b;}
button:hover:not(:disabled) {background:#66532b;}
button:disabled {background:#bfbbb2;color:#fff;} */
button > span {position:relative;}

a,
a:link
a:visited,
a:hover,
a:active,
a:focus {color:#666; text-decoration:none;}

.hidden,
caption,
legend {overflow:hidden; width:1px; height:1px; margin:-1px 0 0 -1px; font-size:0; line-height:0; text-indent:-9999px;}
.blind {clear:both; position:absolute; top:auto; left:0; overflow:hidden; width:1px; height:1px; padding:0; margin:0; font-size:0; line-height:0}
.blind:after {display:none;}

img {vertical-align:top; width:100%;}
em {font-style:normal;}

/* ==========================================================================
	03. style
  * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com
   ========================================================================== */
.wrap {position: relative; min-width: 1200px;}

.header {position: relative; width: 1200px; margin: 0 auto;}
.header::after {content: ''; display: block; clear: both;}

/* ==========================================================================
   로고
  ========================================================================== */
.header .logo {float: left; width: 254px; height: 46px; margin-top: 46px;}

/* ==========================================================================
   유틸메뉴
  ========================================================================== */
.header .util_menu {float: right; position: relative; margin-top: 12px; font-size: 12px; line-height: 30px;}
.header .util_menu::after {content: ''; display: block; clear: both;}
.header .util_menu > div {margin-left: 20px; float: left;}
.header .util_menu > div:first-child {margin-left: 0;}
.header .util_fontsize .tit {display: inline-block; vertical-align: middle;}
.header .util_fontsize button.fontsize_up {width: 21px; height: 21px; background: url(../images/icon/fontsize_up_02.png) 0 0 no-repeat;}
.header .util_fontsize button.fontsize_down {width: 21px; height: 21px; background: url(../images/icon/fontsize_down_02.png) 0 0 no-repeat;}
.header .util_fontsize button:active {background: #b1b0ab;}
.header .util_list a {display: inline-block; margin-left: 12px; vertical-align: middle;}
.header .util_list a:first-child {margin-left: 0;}
.header .util_list a::before {content: ''; display: block; position: absolute; width: 1px; height: 14px; margin: 8px 0 0 -8px; background: #b1b0ab;}
.header .util_list a:first-child::before {display: none;}
.header .icon {display: inline-block; width: 34px; height: 33px; padding: 0;}

/* ==========================================================================
   메인메뉴
  ========================================================================== */
.header .menu { float: right;}
.header .menu .menu_list li {float: left; margin-left: 3px; padding: 22px 12px; font-size: 18px; font-weight: bold; color: #222; cursor:pointer;}
.header .menu .menu_list li:first-child {margin-left: 0;}
.header .menu .menu_list li:last-child {padding-right: 0;}
.header .menu .menu_list li a {display: block; padding-bottom: 5px; border-bottom: 2px solid #fff;}
.header .menu .menu_list li a:hover {padding-bottom: 5px; color: #3a45de; border-bottom: 2px solid #3a45de;}

/* ==========================================================================
   container
  ========================================================================== */
.container {position: relative;}
.breadcrumb_area {position: relative; height: 245px; background: url(../images/sub_visual01.jpg) center 0 no-repeat;}
.breadcrumb_area h2 {padding-top: 120px; text-align: center; font-size: 45px; font-weight: bold; color: #fff;}
.breadcrumb_area .breadcrumb {position: absolute; top: 0; width: 100%; height: 53px; background: rgba(0,59,193,.5);}

.breadcrumb_area .breadcrumb .breadcrumb_list {display: table; width: 1200px; margin: 0 auto;}
.breadcrumb_area .breadcrumb .breadcrumb_list::after {content: ''; display: block; clear: both;}
.breadcrumb_area .breadcrumb .breadcrumb_list > li {display: table-cell; float: left; position: relative; height: 53px; line-height: 53px; text-align: center; vertical-align: middle;}
.breadcrumb_area .breadcrumb .breadcrumb_list > li > a {display: block; padding: 0 50px 0 21px; font-size: 16px; color: #fff; border-left: 1px solid rgba(177,177,176,.27);}
.breadcrumb_area .breadcrumb .breadcrumb_list > li:first-child > a {width: 56px; height: 53px; padding: 22px 21px 0;}
.breadcrumb_area .breadcrumb .breadcrumb_list > li:last-child > a {border-right: 1px solid rgba(177,177,176,.27);}
.breadcrumb_area .breadcrumb .breadcrumb_list > li > a::after {content: ''; display: inline-block; position: absolute; right: 15px; top: 22px; width: 18px; height: 12px; background: url(../images/icon/arr_down_02.png) 0 0 no-repeat; transition: all ease .4s;}

.breadcrumb_area .breadcrumb .breadcrumb_list > li:first-child > a::after {display: none;}
.breadcrumb_area .breadcrumb .breadcrumb_list > li .home {width: 14px;}
.breadcrumb_area .breadcrumb .breadcrumb_list > li:hover > a {background: #2c83e0;}
.breadcrumb_area .breadcrumb .breadcrumb_list > li:hover > a::after {transform: rotateZ(-180deg);}
.breadcrumb_area .breadcrumb .breadcrumb_list .sub_breadcrumb {display: none; background: #2c83e0; opacity: 0;border: 1px solid rgba(177,177,176,.27); border-top: 0;}
.breadcrumb_area .breadcrumb .breadcrumb_list .sub_breadcrumb > li {display: block;}
.breadcrumb_area .breadcrumb .breadcrumb_list .sub_breadcrumb > li > a {display: block; padding: 22px 50px 15px 21px; font-size: 16px; color: #fff; text-align: left;}
.breadcrumb_area .breadcrumb .breadcrumb_list > li:hover .sub_breadcrumb {display: block; opacity: 1; transition: all ease .6s;}

h3.content_tit {width: 1200px; padding: 50px 0 40px; margin: 0 auto; font-size: 32px; font-weight: bold; line-height: 32px; color: #333;}
h3.content_tit span {display: block; font-size: 15px; font-weight: normal; color: #808080;}

.content {width: 1200px; margin: 0 auto;}
.investigate {padding: 40px 0; border-top: 1px solid #e5e5e5;}
.investigate h4.content_tit {float: left; font-size: 24px; font-weight: 520; line-height: 30px; color: #333;}
.investigate::after {content: ''; display: block; clear: both;}
.investigate_section {padding-left: 290px; font-size:0;}
.investigate_section .invest_select {margin-left: -9px;}
.investigate_section .invest_select .radio {display: inline-block; width: calc(100% / 4); height: 50px; padding-left: 9px; line-height: 50px; cursor:pointer;}

.investigate_section .invest_select .radio div {vertical-align: middle; text-align: center; border: 1px solid #d9d9d9; box-sizing: border-box; font-size: 14px;}
.investigate_section .invest_select .radio div:hover {color: #fff; background: #05b9c9;}
.investigate_section .invest_select .radio.half {width: calc(100% / 2); margin-top: 10px;}
.investigate_section .invest_select .radio.half.half02 {margin-top: 0;}
.investigate_section .invest_select input[type="radio"] {display: none;}
.investigate_section .invest_select input[type="radio"] + label {display: inline-block; cursor: pointer;}


.investigate_section .invest_content {height: 406px; margin-top: 20px; padding: 34px; background: #f1f1f1;}
.investigate_section .invest_content .invest_content_txt {height: 340px; padding: 20px 0 0 20px; overflow: auto; font-size: 14px; line-height: 24px; color: #6b6b6b; background: #fff;}
.invest_content .invest_content_txt .invest_content_list li {margin-bottom: 30px;}
.invest_content .invest_content_txt .invest_content_list li b {font-size: 16px; line-height: 30px; color: #333;}
.invest_content .invest_content_txt .invest_content_list li p::before {content: ""; display: inline-block; width: 5px; height: 1px; margin-right: 8px; vertical-align: middle; background: #6b6b6b;}
.investigate_section.damage>.invest_select>.radio {display: inline-block; width: calc(100% / 7); height: 50px; margin-top: 10px; padding-left: 9px; line-height: 50px; cursor:pointer;}
.investigate_section.damage>.invest_select>.radio:nth-child(-n+8) {margin-top: 0;}

.container .btn_result {text-align: center; vertical-align: unset;}
.container .btn_result .btn {padding: 20px 30px; border-radius: 8px; text-align: center; font-size: 20px; color: #fff; }
.container .btn_result .reset {background: #333;}
.container .btn_result .reset::before {content: ""; display: inline-block; width: 21px; height: 14px; margin-right: 15px; vertical-align: middle; background: url(../images/icon/icon_reset__.png) center 0 no-repeat;}


.container .btn_result .check_result {margin-left: 10px; background: #e74444; vertical-align: sub;}
.container .btn_result .check_result::before {content: ""; display: inline-block; width: 36px; height: 36px; margin-right: 15px; vertical-align: middle; background: url(../images/icon/icon_done.png) center 0 no-repeat;}



