@charset "UTF-8";

/* ==========================================================================
   reset
  * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com
   ========================================================================== */
html, body, header, footer, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; box-sizing:border-box; word-break:keep-all;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1; font-family:'Nanum Gothic','맑은고딕',Malgun Gothic,dotum,'돋음',arial,sans-serif; font-size:14px; color:#222; min-width:320px;}
ol, ul {list-style:none;}
ul:after {clear:both; display:block; content:"";}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0; width:100%;}
/* html, body {height:100%;} */
button  {margin:0;padding:0;border-radius:2px; border:none; box-sizing:border-box; vertical-align:middle; font-size:13px; font-family:'Nanum Gothic','맑은고딕',Malgun Gothic,dotum,'돋음',arial,sans-serif; cursor:pointer; background:transparent; border-radius:0; outline:none;}
/* button:hover {background:#66532b;}
button:hover:not(:disabled) {background:#66532b;}
button:disabled {background:#bfbbb2;color:#fff;} */
button > span {position:relative;}

a,
a:link
a:visited,
a:hover,
a:active,
a:focus {/*color:#666;*/ text-decoration:none;}

.hidden,
caption,
legend {overflow:hidden; width:1px; height:1px; margin:-1px 0 0 -1px; font-size:0; line-height:0; text-indent:-9999px;}
.blind {clear:both; position:absolute; top:auto; left:0; overflow:hidden; width:1px; height:1px; padding:0; margin:0; font-size:0; line-height:0}
.blind:after {display:none;}

img {vertical-align:top; width:100%;}
em {font-style:normal;}

/* ==========================================================================
	 layout
   ========================================================================== */
.wrap {position: relative;}

.header_wrap::after {content:""; display: block; clear: both;}

.content {position: relative; z-index: 7;}
.section {position: relative;}
.inner {position: relative; width: 1080px; margin: 0 auto; padding: 50px 0 70px;}

h2 {font-size: 30px; line-height: 44px; letter-spacing: -3px; font-weight: 540;}

.alignL {text-align: left;}
.alignC {text-align: center;}
.alignR {text-align: right;}
.floatL {float: left;}
.floatR {float: right;}
.fontW_b {font-weight: bold;}

ul.col2 li {float: left; width: calc(100% / 2);}
ul.col3 li {float: left; width: calc(100% / 3);}
ul.col4 li {float: left; width: calc(100% / 4);}

/* ==========================================================================
   헤더
  ========================================================================== */
.header_wrap {position: relative; -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.13); -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.13); box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.13); z-index: 9;}
.header_wrap:after {content: ''; display: block; clear: both;}
.header_wrap .inner {padding: 24px 0 0;}
/* ==========================================================================
   로고
  ========================================================================== */
.header_wrap .logo {display: inline-block; width: 143px; height: 34px; text-align: left; vertical-align: top;}
.header_wrap .logo a {display: block;}

.header_wrap .page_wrap {display: inline-block; padding-left: 12px;}
.header_wrap .page_wrap:after {content: ''; display: block; clear: both;}
.header_wrap .page_wrap .page {float: left; line-height: 34px;}
.header_wrap .page_wrap .page a {margin: 0 22px; font-size: 20px; font-weight: 550; color: #888;}
.header_wrap .page_wrap .page.on a {color: #222;}
.header_wrap .page_wrap .page a:before {content: ''; float: left; width: 2px; height: 19px; margin-top: 8px; background: #d9d9d9;}
.header_wrap .page_wrap .page:first-child a:before {display: none;}


/* ==========================================================================
   유틸메뉴
  ========================================================================== */
.header_wrap .header_util_menu:after {content: ''; display: block; clear: both;}
.header_wrap .header_util_menu .util_menu {display: block; float: left; line-height: 34px;}
.header_wrap .header_util_menu .util_menu a {margin: 0 8px; font-size: 13px; color: #666;}
.header_wrap .header_util_menu .util_menu a:before  {content: ''; float: left; width: 1px; height: 11px; margin-top: 12px; background: #d9d9d9;}
.header_wrap .header_util_menu .util_menu:first-child a:before {display: none;}


/* ==========================================================================
   메인메뉴
  ========================================================================== */
.header_wrap .header_main_menu {float: left; width: calc(100% - 128px);}
.header_wrap .header_main_menu .main_menu_list {margin-left: -30px; padding-top: 20px;}
.header_wrap .header_main_menu .main_menu_list:after {content: ''; display: block; clear: both;}
.header_wrap .header_main_menu .main_menu_list li {float: left;}
.header_wrap .header_main_menu .main_menu_list li a {display: inline-block; padding: 20px 28px; font-size: 18px; font-weight: 550; color: #222;}

/* ==========================================================================
   검색
   ========================================================================== */
.header_wrap .search {float: left; position: relative; width: 64px; height: 58px; margin-top: 20px; background: #e5e5e5;}
.header_wrap .search .search_icon {position: absolute; top: 50%; left: 50%; transform: translate(-73.43%, -50%); width: 22px; height: 22px; border: 2px solid #000; border-radius: 50%;}
.header_wrap .search .search_icon:after {content: ''; display: inline-block; -ms-transform: rotate(-44deg); -webkit-transform: rotate(-44deg); transform: rotate(-44deg); width: 2px; height: 8px; margin: 16px 18px 0; background: #000;}   

/* ==========================================================================
   카테고리
   ========================================================================== */
.header_wrap .category {float: left; position: relative; width: 64px; height: 58px; margin-top: 20px; background: #000;}
.header_wrap .category .category_icon {position: relative; top: 20px; left: 50%; transform: translateX(-50%); width: 20px; height: 2px; background: #fff;}
.header_wrap .category .category_icon:before,
.header_wrap .category .category_icon:after {content: ''; display: inline-block; position: absolute; top: -7px; left: 50%; transform: translateX(-50%); width: 20px; height: 2px; background: #fff;}
.header_wrap .category .category_icon:after {top: 7px;}

/* ==========================================================================
   content
  ========================================================================== */
.section_event {font-size: 18px; line-height: 30px;}
.section_event:after {content: ''; display: block; clear: both;}
.section_event .event_ver {position: absolute; left: 50%; transform: translateX(-50%); top: 514px; height: 20px; line-height: 0; z-index: 3; font-size: 0}
.section_event .event_ver .inner {padding: 0;}
.section_event .event_ver button {margin-left: 20px; opacity: 0.4;}
.section_event .event_ver button:after {content: ''; display: inline-block; width: 20px; height: 20px; background: url(../images/btn_list_2.png) 0 0 no-repeat;}
.section_event .event_ver button:last-child:after {content: ''; display: inline-block; width: 20px; height: 20px; background: url(../images/btn_card_2.png) 0 0 no-repeat;}
.section_event .event_ver button:first-child {margin-left: 0;}
.section_event .event_ver button.active {opacity: 0.7;}
/* 리스트형 이벤트 */
.section_event .event_swiper {background: #dbd1fc;}
.section_event .event_swiper .event_swiper_list {padding: 110px 0 220px; background: url(../images/5e1aad73-1e4c-4885-aa7c-58614fdb0160.png) 0 50px no-repeat;}
.section_event .event_swiper:nth-child(2n) {background: #98f7db;}
.section_event .event_swiper:nth-child(3n) {background: #fccf98;}
.section_event .event_swiper:nth-child(2n) .event_swiper_list {background: url(../images/825a82d1-91ba-42be-a348-a1f6f034bb9e.png) 0 50px no-repeat;}
.section_event .event_swiper:nth-child(3n) .event_swiper_list {background: url(../images/881e93fd-c494-4048-8fea-0e391352b6aa.png) 0 50px no-repeat;}
.section_event .event_swiper .inner {padding: 0;}
.section_event .event_swiper .event_swiper_sub {display: inline-block; padding: 4px 10px; border-top: 1px solid rgba(0,0,0,0.8); border-bottom: 1px solid rgba(0,0,0,0.8); box-sizing: border-box; opacity: 0.8;}
.section_event .event_swiper .event_swiper_tit {padding: 20px 0; font-size: 38px; font-weight: 548; line-height: 50px; letter-spacing: -2px;}

/* 리스트형 이벤트 자세히보기 */
.section_event .more_view {display: inline-block; margin-top: 30px; padding: 14px 23px 11px; border-radius: 50px; font-size: 14px; line-height: 20px; color: #222; background: rgba(161,148,204,0.4);}
.section_event .more_view:after {content: ''; display: inline-block; width: 6px; height: 10px; margin-left: 12px; vertical-align: 2px; background: url(../images/ico_arrow12.png) 0 0 no-repeat;}

/* 리스트형 이벤트 버튼 */
.section_event .inner.swiper-button {position: relative; top: -420px;}
.swiper-button-next, .swiper-button-prev {position: absolute; top: 50%; width: 54px; height: 54px;  z-index: 10; cursor: pointer; display: flex; align-items: center; justify-content: center;}
.swiper-button-prev {left: -107px;}
.swiper-button-next {right: -107px;}
.swiper-button-next:after, .swiper-button-prev:after {content: ''; display: inline-block; position: absolute; left: 0; width: 54px; height: 54px; background: url(../images/btn_slideSet.png) 0 0 no-repeat;}
.swiper-button-next:after {right: 0; background-position: -54px 0;}
/* 리스트형 이벤트 좌우 버튼 */
.section_event .inner_pagination .inner {padding: 0;}
.swiper-pagination {display: inline-block; top: -250px; right: 0; height: 30px; line-height: 30px; text-align: right; font-size: 14px; z-index: 2;}
.swiper-pagination.swiper-pagination_dots {right: 270px;}
.swiper-pagination.swiper-pagination_number {right: 210px;}
.swiper-pagination-bullet {margin-left: 10px; border: 1px solid #8e9c9c; background: #adc0c0; opacity: 1; overflow: hidden; box-sizing: border-box;}
.swiper-pagination-bullet:first-child {margin-left: 0;}
.swiper-pagination-bullet-active { border: 1px solid #3465b4; background: #276de2; overflow: hidden; box-sizing: border-box;}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {box-sizing: border-box; z-index: 10;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {left: unset; right: 0; bottom: 8px;}

.section_event .section_event_swiper .btn_action {position: relative; top: -3px; left: 50px; width: 6px; height: 12px;}
.section_event .section_event_swiper .btn_action:after {content: ''; display: block; width: 100%; height: 100%; background-position: 0 0; background-repeat: no-repeat;}
.section_event .section_event_swiper .btn_play:after {background-image: url(../images/btn-benefit-slider-play.png);}
.section_event .section_event_swiper .btn_pause:after {background-image: url(../images/btn-benefit-slider-pause.png);}

/* quick_menu */
.section_event .quick_menu {position: relative; top: -160px; height: auto; padding-bottom: 50px; background: #e2fdfe; z-index: 1;}
.section_event .quick_menu .inner {padding: 0 0 100px;}
.section_event .quick_menu .quick_menu_list {display: inline-block; width: 100%;}
.section_event .quick_menu .quick_menu_list:after {content: ''; display: block; clear: both;}
.section_event .quick_menu .quick_menu_list li {float: left; width: calc( 100% / 6); padding: 15px 0 5px; border-left: 1px solid #e0e0e0; box-sizing: border-box;}
.section_event .quick_menu .quick_menu_list li:first-child {border-left: none;}
.section_event .quick_menu .quick_menu_list li a {display: block; text-align: center; font-size: 16px; color: #222;}
.section_event .quick_menu .quick_menu_list li a:before {content: ''; display: block; margin: 0 auto 20px; text-align: center; width: 48px; height: 48px; background: url(../images/ico_quick_menu1.png); background-position: 0 0; background-repeat: no-repeat;}
.section_event .quick_menu .quick_menu_list li:nth-child(2) a:before {background: url(../images/ico_quick_menu2.png);}
.section_event .quick_menu .quick_menu_list li:nth-child(3) a:before {background: url(../images/ico_quick_menu3.png);}
.section_event .quick_menu .quick_menu_list li:nth-child(4) a:before {background: url(../images/ico_quick_menu4.png);}
.section_event .quick_menu .quick_menu_list li:nth-child(5) a:before {background: url(../images/ico_quick_menu5.png);}
.section_event .quick_menu .quick_menu_list li:nth-child(6) a:before {background: url(../images/ico_quick_menu6.png);}
.section_event .quick_menu:before {content: ''; display: block; clear: both; position: absolute; top: -116px; -ms-transform: skew(0,-6deg); -webkit-transform: skew(0,-6deg); transform: skew(0,-6deg); width: 100%; height: 100%; background: #e2fdfe; z-index: -1;}
.section_event .quick_menu:after {content: ''; display: block; clear: both; position: absolute; bottom: -120px; -ms-transform: skew(0,6deg); -webkit-transform: skew(0,6deg); transform: skew(0,6deg); width: 100%; height: 100%; background: #e2fdfe; z-index: -1;}
.section_event .quick_menu .quick_menu_list li {float: left; width: calc(100% / 6); z-index: 3;}
.section_event .quick_menu .quick_menu_list li:before {content: ''; display: block; background: url(../images/ico_quick_menu1.png) 0 0 no-repeat;}

/* 이벤트 전체보기 */
.inner.inner02 {right: 0; top: -536px; padding: 0;}
.section_event .more_view_event {display: block; position: absolute; top: 0; right: 0; padding: 10px 20px; border-radius: 50px; font-size: 16px; color: #fff; background: #000; z-index: 1; overflow: hidden; box-sizing: border-box;}
.section_event .more_view_event span {color: #5ff9e6;}
.section_event .more_view_event:after {content: ''; display: inline-block; width: 10px; height: 10px; margin-left: 19px; vertical-align: 1px; background: url(../images/ico_event_more.png) 0 0 no-repeat;}

.section_event .scroll_down {position: relative; top: -240px; left: 50%; transform: translateX(-50%); width: 19px; height: 27px; background: url(../images/ico_mouse.png) 0 0 no-repeat; z-index: 3;}
.section_event .scroll_down:after {content: ''; display: block; position: absolute; top: 32px; left: 50%; transform: translateX(-50%); width: 11px; height: 7px; background: url(../images/ico_mouse_arrow.png) 0 0 no-repeat; animation: scroll_down 0.4s ease-in Infinite Alternate;}
@keyframes scroll_down {0% {top: 32px;} 100% {top: 38px;}}


/* ==========================================================================
   footer
  ========================================================================== */


