
/* ==========================================================================
	02. reset
  * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com
   ========================================================================== */
html, body, header, footer, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; box-sizing:border-box; word-break:keep-all;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1; font-family:'Nanum Gothic','맑은고딕',Malgun Gothic,dotum,'돋음',arial,sans-serif; font-size:14px; color:#666; min-width:320px;}
ol, ul {list-style:none;}
ul:after {clear:both; display:block; content:"";}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0; width:100%;}
/* html, body {height:100%;} */
button  {margin:0;padding:0;border-radius:2px; border:none; box-sizing:border-box; vertical-align:middle; font-size:13px; font-family:'Nanum Gothic','맑은고딕',Malgun Gothic,dotum,'돋음',arial,sans-serif; cursor:pointer; background:transparent; border-radius:0;outline:none;}
/* button:hover {background:#66532b;}
button:hover:not(:disabled) {background:#66532b;}
button:disabled {background:#bfbbb2;color:#fff;} */
button > span {position:relative;}

a,
a:link
a:visited,
a:hover,
a:active,
a:focus {color:#666; text-decoration:none;}

.hidden,
caption,
legend {overflow:hidden; width:1px; height:1px; margin:-1px 0 0 -1px; font-size:0; line-height:0; text-indent:-9999px;}
.blind {clear:both; position:absolute; top:auto; left:0; overflow:hidden; width:1px; height:1px; padding:0; margin:0; font-size:0; line-height:0}
.blind:after {display:none;}

img {vertical-align:top; width:100%;}
em {font-style:normal;}

/* ==========================================================================
	03. style
  * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com
   ========================================================================== */
.wrap {position: relative;}
.header {border-bottom: 1px solid #f1f1f1; font-size: 0; box-sizing: border-box;}

.header_wrap,
.content,
.breadcrumb_wrap {position: relative; width: 1120px; margin: 0 auto;}
.header_wrap::after {content:""; display: block; clear: both;}

.col2 li {float: left; width: calc(100% / 2);}
.col3 li {float: left; width: calc(100% / 3);}
.col4 li {float: left; width: calc(100% / 4);}

/* ==========================================================================
   로고
  ========================================================================== */
.header_wrap .logo {position: absolute; top: 43px; left: 104px; width: 83px; height: 35px;}
.header_wrap .logo a {display: block;}

/* ==========================================================================
   유틸메뉴
  ========================================================================== */
.util_menu {margin-top: 9px; text-align: right; line-height: 18px; color: #444444;}
.util_menu::after {content:""; display: block; clear: both;}

.util_menu a {height: 18px; line-height: 18px; padding-left: 20px; font-size: 14px; vertical-align: middle;}
.util_menu .util_menu_share::before {content: ""; display: inline-block; width:1px; height: 9px; margin-right: 16px; background: #aaaaaa;}
.util_menu .util_menu_i::after {content: ""; display: inline-block; width:18px; height: 18px; margin: -5px 0 0 8px; background: url(../images/icon/sprite.png) 0 0 no-repeat; vertical-align: middle; cursor:pointer;}
.util_menu .util_menu_i span {color: #e50963;}

/* ==========================================================================
   메인메뉴
  ========================================================================== */
.menu_wrap {display: inline-block; margin: 0 73px 0 140px;}
.menu_wrap .menu_list li {float: left; font-size: 20px; font-weight: bold; line-height: 30px; margin-top: 8px; padding: 25px; cursor:pointer;}
.menu_wrap .menu_list::after {content:""; display: block; clear: both;}

.category {display: inline-block; width: 60px; height: 60px; margin-top: 8px; background: #ec1f2f url(../images/icon/ico_btn_category.png) 0 0 no-repeat;}

.util_menu_icon {display: inline-block; position: absolute; top: 54px; height: 28px; line-height: 24px;}
.util_menu_icon a {margin-left: 10px;}
.util_menu_icon .search {display: inline-block; width: 28px; height: 28px; vertical-align: middle; background: url(../images/icon/sprite.png) -19px -4px no-repeat;}
.util_menu_icon .shopping_basket {display: inline-block; width: 28px; height: 28px; margin-left: 20px; vertical-align: middle; background: url(../images/icon/sprite.png) -59px -4px no-repeat;}
.util_menu_icon .viewed_products {display: inline-block; width: 28px; height: 28px; margin-left: 20px; vertical-align: middle; background: url(../images/icon/sprite.png) -102px -4px no-repeat;}
.util_menu_icon .login {display: inline-block; width: 28px; height: 27px; margin-left: 20px; vertical-align: middle; background: url(../images/icon/sprite.png) -884px -4px no-repeat;}

/* ==========================================================================
   메인메뉴
  ========================================================================== */
.container {margin-top: 30px;}

.content_wrap {padding: 60px 0 100px;}
.content_wrap02 {padding: 70px 0; background: #f3f5f7;}

.breadcrumb_wrap {color: #cccccc; font-size: 12px;}
.breadcrumb_wrap .breadcrumb_list::after {content:""; display: block; clear: both;}
.breadcrumb_wrap .breadcrumb_list li {float: left; line-height: 16px;}
.breadcrumb_wrap .breadcrumb_list li:first-child::before {content: ""; display: inline-block; width: 12px; height: 11px; margin-right: 5px; background: url(../images/icon/sprite.png) -131px 0 no-repeat;}
.breadcrumb_wrap .breadcrumb_list li::before {content: ""; display: inline-block; width: 5px; height: 9px; margin: 0 5px 3px; line-height: 16px; vertical-align: middle; background: url(../images/common/btn_location_arrow.png) 0 0 no-repeat;}

.goods_wrap .content_tit_list {font-size: 16px; line-height: 20px; width: 374px; padding: 20px 0; color: #000; text-align: center; border: 1px solid #ebebeb; border-bottom: 2px solid #000; cursor:pointer;}
.goods_wrap .content_tit_list.on {border: 1px solid #000; color: #fff; font-weight: 500; background: #000;}
.goods_wrap .content_tit_list:hover {border: 1px solid #000; color: #fff; background: #000;}

.goods_wrap .goods_list {position: relative; margin-top: 40px;}
.goods_wrap .goods_list::after {content:""; display: block; clear: both;}
.goods_wrap .goods_list li {float: left; position: relative; width: calc(282px - 8px); margin: 8px 8px 0 0;}
.goods_wrap .goods_list li:nth-child(4n) {margin-right: 0;}
.goods_wrap .goods_list li:nth-child(-n+4) {margin-top: 0;}
.goods_wrap .goods_list li .list {border: 1px solid #ededed;}
.goods_wrap .goods_list li .list .list_info .goods_pro {position: relative; width: 192px; height: 192px; margin: 50px auto; text-align: center;}

.goods_list li .list .list_over {display: inline-block; position: absolute; top: 0;}
.goods_list li .list .list_over ul {display:  inline-block; background: rgba(255, 255, 255, .6);}
.goods_list li .list .list_over li {float: left; width: 57px; margin: 0;}
.goods_list li .list .list_over li:last-child {margin-left: 23px;}
.goods_list li .list .list_over li a {display: inline-block; height: auto; margin: 0; padding: 0; border: none;}
.goods_list li .list .list_over li .view_detail {display: inline-block; padding: 17px; text-align: center; border-radius: 50px; background: #000;}
.goods_list li .list .list_over li .view_detail::before {content: ""; display: inline-block; width: 21px; height: 21px; background: url(../images/icon/sprite.png) -781px -38px no-repeat;}
.goods_list li .list .list_over li .home_delivery {display: inline-block; padding: 17px; text-align: center; border-radius: 50px; background: #000;}
.goods_list li .list .list_over li .home_delivery::before {content: ""; display: inline-block; width: 22px; height: 19px; background: url(../images/icon/sprite.png) -844px -1px no-repeat;}


.goods_wrap .goods_list li .list_info .goods_info {line-height: 20px; margin: 0 22px; font-size: 14px;}
.goods_wrap .goods_list li .list_info .goods_txt .goods_name {line-height: 24px;}
.goods_wrap .goods_list li .list_info .goods_txt .goods_price {text-align: right; margin-top: 24px;}
.goods_wrap .goods_list li .list_info .goods_txt .goods_price b {font-size: 20px;}



/* .goods_list .goods_list_over {display: none; position: absolute; top: 0; width: 100%; overflow: hidden;}
.goods_list .goods_list_over div {position: relative; text-align: center;}
.goods_list .goods_list_over ul {display: inline-block;}

.goods_list .goods_list_over li {display: inline-block; width: 57px; height: auto; margin: 0; padding: 115px 0 50px; border: none; background: rgba(255, 255, 255, .6);}
.goods_list .goods_list_over li:last-child a {margin-left: 23px;}
.goods_list .goods_list_over li a {display: block; height: auto; margin: 0; padding: 0; border: none;}
.goods_list .goods_list_over li .view_detail {display: inline-block; padding: 17px; text-align: center; border-radius: 50px; background: #000;}
.goods_list .goods_list_over li .view_detail::before {content: ""; display: inline-block; width: 21px; height: 21px; background: url(../images/icon/sprite.png) -781px -38px no-repeat;}
.goods_list .goods_list_over li .home_delivery {display: inline-block; padding: 17px; text-align: center; border-radius: 50px; background: #000;}
.goods_list .goods_list_over li .home_delivery::before {content: ""; display: inline-block; width: 22px; height: 19px; background: url(../images/icon/sprite.png) -844px -1px no-repeat;} */

.goods_list .goods_list_over .like_list {display: block; width: 100%; margin-top: 172px; background: #ed1e30;}
.goods_list .goods_list_over .like_list li {position: relative; width: calc(100% / 2); padding: 14px; background: none;}
.goods_list .goods_list_over .like_list li:last-child::before {content: ""; position: absolute; left: 0; top: 20px; width: 1px; height: 14px; background: #f99188;}
.goods_list .goods_list_over .like_list li a {margin-left: 0;}
.goods_list .goods_list_over .like_list span {display: inline-block; line-height: 21px; vertical-align: middle; color: #fff;}
.goods_list .goods_list_over .like_list .icon::before {content: ""; display: inline-block; width: 23px; height: 21px; background: url(../images/icon/sprite.png) -511px 0 no-repeat;}
.goods_list .goods_list_over .like_list .icon.icon2::before {content: ""; display: inline-block; width: 21px; height: 21px; background: url(../images/icon/sprite.png) -542px 0 no-repeat;}
/* .content_wrap02 .content_tit_list {border: none;}
.content_wrap02 .content_tit_list li {float: left; font-size: 16px; line-height: 20px; margin-right: 24px; padding: 25px 0; color: #999; font-weight: 550; border: none; background: none;}
.content_wrap02 .content_tit_list li.on {color: #000;}
.content_wrap02 .content h2 {font-size: 30px; line-height: 34px; color: #000; font-weight: 550;}

.content_wrap02 .goods_list::after {content:""; display: block; clear: both;}

.content_wrap02 .goods_list li a {display: block; height: 215px; margin: 8px 8px 0 0; border: 1px solid #ededed; background: #fff;}
.content_wrap02 .goods_list li:nth-child(2n) a {margin-right: 0;}
.content_wrap02 .goods_list li:nth-child(-n+2) a {margin-top: 0;}
.content_wrap02 .goods_list li a .goods_pro {display: inline-block; width: 192px; height: 192px; margin: 11px 26px 12px 12px; vertical-align: middle;}
.content_wrap02 .goods_list li a .goods_info {display: inline-block; width: 286px; line-height: 192px; vertical-align: middle; font-size: 14px; word-break: keep-all;}
.content_wrap02 .goods_list li a .goods_info .goods_name {line-height: 24px;}
.content_wrap02 .goods_list li a .goods_info .price {line-height: 30px;}
.content_wrap02 .goods_list li a .goods_info .price b {font-size: 20px;} */




